.about-page {
    background-color: #e3e6e0; /* Background color */
    height: calc(100vh - 75px);; /* Full height */
    display: flex; /* Use Flexbox */
    align-items: flex-start; /* Align items at the start */
}

.about-content {
    flex: 1 1;
    background-color: #ffffff;
    border-radius: 8px;
    height: inherit;
    align-content: center;
}

.vertical-line {
    width: 2px;
    background-color: #16423c;
    height: 100%;
}

.info {
    flex: 2; /* Take 2 parts of the space for information */
    display: flex; /* Use Flexbox */
    text-align: center;
}

.about-heading {
    color: #16423c; /* Adjust the color as needed */
    font-size: 36px; /* Increased font size */
    font-weight: bold; /* Make the font bold */
    text-align: center;
}


.info div {
    color: #16423c; /* Same color as the heading for the info text */
    font-size: 20px; /* Increased font size */
    line-height: 1.5; /* Improve readability */
    margin: 15%; /* Add space above the info text */
}