.review-container{
    height: 90vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #e3e6e0; /* Dark green background */
    display: flex;
    flex-direction: column;
  }

  .review-heading {
    font-size: 40px;
    text-align: center;
  }

  