.calendar {
  background-color: #e3e6e0;
  display: flex;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.calendar-heading {
  color: #16423c;
  font-size: larger;
  padding-top: 20px;
  font-weight: bold;
}

.react-calendar__navigation {
  display: flex;
  height: 10vh;
}

.react-calendar__navigation button {
  color: #16423c;
  min-width: 44px;
  background: none;
  font-size: 20px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #6a9c89;
  border-radius: 6px;
}

.react-calendar__navigation button[disabled] {
  background-color: #878787;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  color: black;
  text-align: center;
  padding-top: 20px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6a9c89;
  color: white;
  border-radius: 6px;
}

.react-calendar__month-view__days__day:hover {
  border-radius: 6px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #6a9c89;
}

.react-calendar__month-view__days {
  height: 50vh;
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(255, 56, 56);
}

.react-calendar__month-view__days__day {
  font-size: 18px;
  border: none;
}

.react-calendar__year-view__months {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
}

.react-calendar__decade-view__years {
  height: 50vh;
}

.react-calendar__century-view__decades {
  height: 50vh;
}

.calendar-container {
  width: 80%;
  min-height: 50vh;
}

.react-calendar__tile.highlighted {
  background-color: #6a9c89;
  color: white;
  border-radius: 8px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-modal-btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: #6a9c89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #567c67;
}

.cancel-appt{
  margin: 20px;
  padding: 10px 20px;
  background-color: #6a9c89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-appt:hover {
  background-color: #567c67;
}

.appointment-day {
  background-color: #ff6f61;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.appt-btns {
  display: flex;
  justify-content: center;
}