.common-login-container {
    height: calc(100vh - 10%);
    text-align: center;
    color: #e3e6e0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cmn_lgn_heading{
    color: #e3e6e0;
  }
  
  .account-options {
    display: flex;
    justify-content: center; /* Align cards horizontally */
  }
  
  .account-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding to create space around the account option */
  }
  
  .account-image {
    width: 150px; /* Increase image size for better visibility */
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .account-button {
    padding: 10px 20px;
    background-color: #e3e6e0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }