/* src/components/Services.css */

.services-container {
    text-align: center;
    height: 90vh; /*total height = 100vh, navbar = 10vh */
}

.services-heading {
    color: #16423c;
    font-size: xxx-large;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: transform 0.2s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    font-size: 40px; /* Adjust size as needed */
    margin-bottom: 10px;
}
