.App {
  background-color: #e3e6e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: calc(10px + 2vmin);
}

.NavButtons {
  background-color: #16423c;
  color: #e3e6e0;
  width: 100vw;
  height: 10vh;
  list-style-type: none;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  padding-inline-end: 20px;
  margin:0px;
  padding: 0px;
}

.NavButtons li:last-child {
  margin-right: 20px;
}

.NavButtons li {
  display: inline;
  align-content: center;
}

.NavButtons a {
  text-decoration: none;
  color: #e3e6e0;
  font-weight: bold;
}

