.App {
  background-color: #e3e6e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: calc(10px + 2vmin);
}

.NavBar {
  background-color: #16423c;
  color: #e3e6e0;
  width: 100vw;
  height: 10vh;
  display: inline-block;
  vertical-align: top;
}

.NavButtons {
  list-style-type: none; /* Removes bullet points */
  display: flex; /* Aligns items in a row */
  gap: 15px; /* Adds space between items */
  justify-content: flex-end; /*ALign content to the right end */
  padding-inline-end: 20px;
}

.NavButtons li {
  display: inline; /* Ensures list items are inline */
}

.NavButtons a {
  text-decoration: none; /* Removes underline from links */
  color: #e3e6e0; /* Changes link color */
  font-weight: bold;
}

